.show {
    position: relative;
    min-height: 825px;

@media screen and (max-width: 900px) {
    height: 731px;
}

@media screen and (max-width: 610px) {
    min-height: 720px;
}

&__active {
    visibility: visible !important;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 0px $Shadow inset;
    animation: spoiler 1.5s;
    height: 100%;
}

&__img {
    display: block;
    margin: 100px auto 50px auto;
    max-width: 732px;
    max-height: 315px;

@media screen and (max-width: 900px) {
    max-width: 70%;
    max-height: 70%;
    margin-bottom: 0;
    
}
}
    
&__text {
    line-height: 2;
    color: lighten($Black, 40%);
    font-weight: 300;
    font-size: 37px;
    max-width: 100%;
    margin: auto;
    margin-left: 63px;

@media screen and (max-width: 700px) {
    font-size: 28px;
    margin-left: 25px;
}
}
    
&__smalltext {
    font-size: 15px;
    color: $Gray;
    word-wrap: break-word;
    margin: 0 66px 50px 66px;

@media screen and (max-width: 700px) {
    font-size: 11px;
    margin: 0 66px 0px 25px;
}
}
}

.hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
    margin: -3px;
    margin-right: 0;

&__phone::before {
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    left: 0.296%;
    width: 24.5%;
    background: $White;
    }

&__basket::before {
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    left: 24.7%;
    width: 24.5%;
    background: $White;
}
    
&__web::before {
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    left: 49.3%;
    width: 24.5%;
    background: $White;

@media screen and (max-width: 630px) {
    left: 48.3%;
}
}

&__magnifier::before {
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    left: 73.78%;
    width: 24.5%;
    background: $White;

@media screen and (max-width: 630px) {
    left: 71.78%;
    width: 24.9%;
}
}
}