details summary {
    display: block;
    outline-style: none;

&:focus {
    border: 1px solid white;
    border-bottom: none;
    border-radius: 2px;
    box-shadow: 0px 0px 4px 0px #c0c0c0 inset;
}

&::-webkit-details-marker {  
	display: none;
}
}

details[open] .show {
    animation: spoiler 2s;
  }
 
.show {
    width: 100%;

&__img {
    max-width: 732px;
    max-height: 349px;
}
    
&__text {
    line-height: 2;
    text-align: left;
}
    
&__smalltext {
    font-size: 14px;
    text-align: left;
    color: $Tabs;
}
}
