.tabs {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;

&__wrapper {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

&__img {
    max-width: 120px;
    height: auto;

@media all and (max-width: 650px) {
    max-width: 90%;
}
}

&__bold {
    font-weight: bold !important;
}

&__text {
    font-family: "Segoe WP Semilight";
    padding-top: 10px;
    font-weight: 400;
    color: $Gray;
    line-height: 1.25;

@media screen and (max-width: 650px) {
    font-size: 18px;
}
}

&__active {
    visibility: visible !important;
    cursor: default;
    pointer-events: none;
    border: 1px solid white;
    border-bottom: none;
    border-radius: 2px;
    box-shadow: 0px -3px 5px 0px $Shadow;
}
}

.web {
    font-size: 18px;
}