input {
	padding: 0 0 3px 12px;
	background-color: $Input;
    border-style: none;
    font-size: 15px;
    

@media (min-width: 650px) and (max-width: 962px) {
    font-size: 18px;
}

&:not([type="submit"]):valid:focus {
    outline: 2.5px solid $Success;
}

&:invalid {
    outline: 2px solid $Red;
}

&::-webkit-input-placeholder { 
    color: $Gray; 
    font-weight: 700;
}

&[type="email"] {
    width: 55%;

@media all and (max-width: 375px) and (max-height: 667px) {
    width: 100%;
}
}
}

.subs__login input[type="password"] {
    margin-left: 8px;

@media all and (max-width: 505px) {
    margin-left: 0;
}
    
@media all and (max-width: 375px) and (max-height: 667px) {
    width: 59%;
}
}

.subs__login input[type="submit"] {  
@media all and (max-width: 375px) and (max-height: 667px) {
    height: 40px;
}
}

.subs__mail input[type="submit"] {
    margin-left: 67px;

@media all and (max-width: 375px) and (max-height: 667px) {
    margin-left: 0px;
}
}