//! SUBS //
.subs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 40px;

&__same {
    max-height: 110px;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px 0 14px 25px;
    
}

&__login {
    min-width: 465px;
    background-color: $Orange;
    caret-color: $Orange;

@media (min-width: 650px) and (max-width: 962px) {
    width: 100%;
    text-align: center;
}
}

&__mail {
    min-width: 466px;
    background-color: $Blue;
    caret-color: $Blue;

@media (min-width: 650px) and (max-width: 962px) {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 962px) {
    margin-top: 30px;
}
}

&__title {
    font-size: 29px;
    color: $White;
    padding-bottom: 7px;
}

&__button {
    height: 30px;
    width: 95px;
    color: $White;
    background-color: $Subs-button;
    font-size: 15px;

&:hover {
    background-color: rgba(68, 68, 68, 0.7);
}

&:focus {
    outline: 1px solid rgba(68, 68, 68, 0.7);
}
} // .subs__button
}
@import "../scss/subs/input.scss";
//! -SUBS- //