//! CUSTOM SCSS //
$SegoeL: "Segoe WP Light";
$SegoeSB: "Segoe WP Semibold";
$SegoeSL: "Segoe WP Semilight";
$Fz: 25px;
$Bg: rgba(80, 91, 99, 1);
$Gray: rgba(128, 128, 128, 0.4);
$Green: #175b3b;
$White: rgb(255,255,255);
//! -CUSTOM SCSS- //