//! CUSTOM SCSS //
$SegoeL: "Segoe WP Light";
$SegoeSB: "Segoe WP Semibold";
$SegoeSL: "Segoe WP Semilight";
$Mrs: "Mrs Eaves Italic";
$Fz: 23px;
$Bg: rgba(80, 91, 99, 1);
$Gray: rgba(128, 128, 128, 0.4);
$Green: rgba(18, 179, 103, 0.42);
$Tabs: rgba(123, 122, 122, 1);
$White: rgb(255,255,255);
//! -CUSTOM SCSS- //