//! COLORS //
$Bg: rgba(80, 91, 99, 1);
$Black: rgba(0, 0, 0, 1);
$Blue: rgba(1, 212, 243, 1);
$Footer: rgba(150, 149, 148, 1);
$Footer-logo: rgba(92, 89, 92, 1);
$Green: rgba(18, 179, 103, 1);
$Gray: rgba(123, 122, 122, 1);
$Hello: rgba(49, 70, 75, 1);
$Input: rgba(232, 232, 232, 1);
$Light-Gray: rgba(128, 128, 128, 0.4);
$Orange: rgba(230, 118, 36,1);
$Red: rgba(255, 0, 0, 1);
$Subs-button: rgba(68, 68, 68, 1);
$Shadow: rgba(192, 192, 192, 1);
$Success: rgba(75,181,67,1);
$Warning: rgba(116, 17, 17, 1);
$White: rgba(255,255,255, 1);
//! -COLORS- //

//! CUSTOM //
$Fz: 23px;
$Transition: all 0.2s ease;
//! -CUSTOM- //

//! FONTS //
$Arial: Arial, Helvetica, sans-serif;
$SegoeL: "Segoe WP Light";
$SegoeSB: "Segoe WP Semibold";
$SegoeSL: "Segoe WP Semilight";
$Mrs: "Mrs Eaves Italic";
//! -FONTS- //

//! MIXINS //
@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin transform($deg) {
    -webkit-transform: $deg;
	-o-transform: $deg;
	-ms-transform: $deg;
	transform: $deg;
}
//! -MIXINS- //

