//! PREPARATION //
*, *:before, *:after {
    font-family: $SegoeL;
    font-size: $Fz;
    line-height: 24px;
}

.btn {
    font-family: $SegoeSL;
    margin: 8px 6px 0 10px;
    border: 0;
    padding: 0;

&:active {
	@include transform(scale(0.97));
}
}

.container {
	max-width: 1020px;
	margin: auto;

@media screen and (max-width: 600px) {
	max-width: 540px;
}
}

hr {
	border: none;
	margin-top: 50px;
	background-color: lighten($Light-Gray, 25%);
	color: lighten($Light-Gray, 25%);
	height: 1px;
}

.logo {
	font-size: 106px;
	max-width: 222px;
    font-family: $Mrs;
    font-style: italic;
    opacity: 0.68;

&:hover {
	text-decoration: none;
}  
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

button:focus {
    box-shadow: none !important;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

time {
	font-size: inherit;
}
//! -PREPARATION- //