.choose {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

&__img {
    width: auto;
    height: 310px;
}

&__title {
    font-size: 26px;
    font-weight: 300;
    padding-top: 30px;
    color: lighten($Black, 40%);
}

&__list {
    padding-top: 20px;
}

& li {
    font-size: 15px;
    line-height: 2.3;
    padding-left: 30px;
    background: url(/src/img/Choose/Checked.png) 0px 10px no-repeat;;
    color: $Gray;
}
}