.choose {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;

&__img {
    width: auto;
    height: 310px;

@media all and (max-width: 375px) and (max-height: 667px) {
    width: auto;
    max-height: 245px;
}
}

&__title {
    font-size: 26px;
    font-weight: 300;
    padding-top: 30px;
    color: lighten($Black, 40%);
}

&__list {
    padding-top: 20px;
}

& li {
    font-size: 15px;
    line-height: 2.3;
    padding-left: 30px;
    color: $Gray;

@media all and (max-width: 375px) and (max-height: 667px) {
    font-size: 13.3px;
}
}
}