//! HEADER //
.header {
    background: #ccc url(/src/img/bg.png);
    background-size: cover;
    max-width: 100%;
    height: 485px;
}//header

@import "../header/top__wrapper.scss";
@import "../header/nav.scss";
@import "../header/middle__wrapper.scss";
@import "../header/arrow.scss";
//! -HEADER- //