//! HEADER //
.header {
    background: #cccccc url(/src/img/Header/bg.png);
    background-size: cover;
    max-width: 100%;
    height: 485px;

@media screen and (max-width: 800px) {
    height: 398px;
}
}//header

@import "../header/top__wrapper.scss";
@import "../header/nav.scss";
@import "../header/slider-header.scss";
@import "../header/item-slider.scss";
//! -HEADER- //