//! HEADER //
.header {
    background: #ccc url(/src/img/bg.png);
    background-size: cover;
    width: 100%;
    height: auto;

&__top__wrapper {
    height: 200px;
}

&__logo {
    width: 222px;
    font-family: $Mrs;
    font-style: italic;
    opacity: 0.68;
    font-size: 5.1739rem;
    color: $White;

&:hover {
    color: $White;
    text-decoration: none;
    }   
}

&__coffee {
    position: relative;
    max-width: 329px;
    max-height: 329px;
    bottom: -50px;
    right: 10px;
}

&__text {
    font-family: $SegoeSL;
    color: $White;
}

&__title {
    font-family: $SegoeSB;
    font-size: 2.8261rem;
    letter-spacing: 2px;
    line-height: 0.75;
    
}

&__subtitle {
    letter-spacing: 1px;
    font-size: 1.9565rem;
    font-weight: 400;
    line-height: 1.7;
}

&__btn {
    width: 135px;
    height: 40px;
    font-family: $SegoeSL;
    margin: 8px 0 0 10px;
    background-color: $Green;
    border: 0;
    padding: 0;
    color: $White;
    opacity: 0.8;
    outline: 4px solid rgba(0, 0, 0, 0.2);
}//header__btn
}//header
//! -HEADER- //