.nav {
    display: flex;
    justify-content: space-between;
    min-width: 520px;
    height: auto;

&__menu {
    position: relative;
    color: $White;
    cursor: pointer;
    transition: all 0.75s ease;
    
&::last-child {
    padding-right: 0;
    }
    
&:hover {
    color: lighten($Gray, 40%);
    text-decoration: none;
    }
    
&__list {
    display: none;
    list-style-type: none;
    background-color: rgba(80, 91, 99, 0.1);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
& a {
    display: block;
    font-size: 0.76rem;
    border: 1px solid $Bg;
    color: $White;
    padding: 10px 10px;
    transition: all 0.25s ease-in-out;
    
&:hover {
    background-color: $Gray;
        }
    }
}//nav__menu__list
}//nav__menu
}

