.header {

&__top__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    min-height: 220px;
}
    
&__logo {
    color: $White;
    padding-top: 40px;
    transition: $Transition;
    
&:hover {
    color: darken($White, 30%);
    }   
}
}


