.header {

&__top__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    min-height: 220px;

@media screen and (max-width: 800px) {
    padding-top: 15px;
}
}
    
&__logo {
    color: $White;
    padding-top: 40px;
    transition: $Transition;
    
&:hover {
    color: darken($White, 30%);
    text-decoration: none;
} 

@media screen and (max-width: 800px) {
    margin: auto;
    padding-top: 0px;
}
} //.header__logo
}


