.header__top__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    min-height: 220px;
}

.header__logo {
    max-width: 222px;
    font-family: $Mrs;
    font-style: italic;
    padding-top: 40px;
    opacity: 0.68;
    font-size: 108px;
    color: $White;

&:hover {
    color: $White;
    text-decoration: none;
    }   
}