.footer {

&__about {
    color: $White;
    flex-grow: 9;
}

&__nav {
    display: block;
    color: $Footer;
    font-weight: 600;
    line-height: 1.7;
    font-size: 13px;
    transition: all 0.2s ease;

&:hover {
    color: lighten($Footer, 15%);
    text-decoration: none;
}

@media screen and (max-width: 550px) {
    margin: auto;
    width: 40%;
}

} 
}