//! FOOTER //
.footer {
    padding-top: 34px;
    padding-bottom: 28px;
    

&__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 907px;
    margin: auto;

@media screen and (max-width: 800px) {
    text-align: center;
}
}

&__title {
    color: rgba(255,255,255,0.85);
    font-size: 24px;
    line-height: 1.8;
}
}
@import "../footer/logo.scss";
@import "../footer/slider-footer.scss";
@import "../footer/about.scss";
//! -FOOTER- //