.footer {
    
&__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
    flex-grow: 4;

@media all and (max-width: 800px) {
    margin-top: 50px;
}
}
    
&__leo {
    color: $Footer-logo;
    transition: $Transition;
    align-self: flex-end;

@media screen and (max-width: 800px) {
    margin-right: 10px;
}

&:hover {
    color: lighten($Footer, 10%);
} 
}
    
&_copyright {
    font-size: 13px;
    color: $White;
    margin-left: 32px;
    transition: $Transition;
    
&:hover {
    color: darken($White, 30%);
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    text-align: left;
}
}
}



