.footer {
    
&__text {
    padding-top: 8px;
    font-size: 13px;
    line-height: 1.7;
    color: $Footer;
    font-weight: 600;
}
    
&__span {
    font-size: 13px;
    color: darken($White, 15%);
    font-weight: 900;
    line-height: 1;
}
}


.footer__slider {
    position: relative;
    overflow: hidden;
    max-width: 350px;
    margin: auto;
    color: $Footer;

@media screen and (max-width: 800px) {
    margin-top: 10px;
}

&__wrapper {
    display: flex;
    transition: transform 0.6s ease;
}
    
&__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0 100%;
    max-width: 100%;
}

&__arrow {
    position: absolute;
    display: inline-flex;
    top: 10%;
    right: 30%;
}

&__control {
    display: flex;
}
    
&__control:hover,
&__control:focus {
    opacity: 0.6;
}
    
&__control::before {
    content: '';
    width: 16px;
    height: 16px;
}
    
&__control_left::before {
    background-image: url("/src/img/Footer/left.png");
    margin-right: 7px;
}
    
&__control_right::before {
    background-image: url("/src/img/Footer/right.png");
}
} // .footer__slider



