//! FONTS //
@font-face {
    font-family: "Segoe WP Light";
    src: url("/src/fonts/ofont.ru_Segoe\ WP\ Light.ttf");
}
@font-face {
    font-family: "Segoe WP Semibold";
    src: url("/src/fonts/ofont.ru_Segoe\ WP\ Semibold.ttf");
}
@font-face {
    font-family: "Segoe WP Semilight";
    src: url("/src/fonts/ofont.ru_Segoe\ WP\ SemiLight.ttf");
}
//! -FONTS- //