@media only screen and (max-width: 991.98px) {
.header {

&__top__wrapper{
margin-bottom: 20px;
}

&__logo {
    display: block;
    margin: 40px 0px 0px 140px;
}

&__nav {
    display: inline-flex;
    max-width: 100% !important;
    padding-right: 10px !important;
}

&__menu {
    font-size: 25px;

&__list {
&:nth-child(2) {
    right: 384px !important;
}
&:nth-child(4) {
    right: 234px !important;
}
&:nth-child(6) {
    right: 87px !important;
}
&:nth-child(8) {
    right: -57px !important;
}
}//header__menu

}
&__arrow-left {
    width: 32px !important;
    height: 32px !important;
    margin-left: -90px !important;
}
&__coffee {
    width: 200px !important;
    height: 200px !important;
    margin-left: -50px !important;
}
&__text {
    padding-left: 19px;
}
&__title {
    font-size: 40px !important; 
}
&__subtitle {
    font-size: 20px !important; 
}
&__arrow-right {
    width: 32px !important;
    height: 32px !important;
}
}//header
}
